h1 {
  font-size: 60px;
  padding-top: 15%;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 568px) {
  h1 {
    font-size: 30px;
    padding-top: 50%;
  }
}